
/* chat page */

.chat-message-board {
	max-height: 500px;
	overflow-y: scroll;
}

.chat-message-board .message {
	padding: 10px;
}

.chat-message-board .message .meta {
	font-size: 15px;
	margin-bottom: 7px;
}

.chat-message-board .message .meta .date {
	font-size: 13px;
}